/* App.css */
.auto-slideshow img,
.manual-slideshow img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.manual-slideshow {
  text-align: center;
}

.manual-slideshow button {
  margin: 10px;
}

.auto-slideshow {
  overflow: hidden;
  border-radius: 8px;
}
